<template>
    <lightning-layout multiple-rows="true" vertical-align="end">
        <!-- Search Text Input -->
        <lightning-layout-item size="12" small-device-size="10" medium-device-size="8" large-device-size="6" padding="around-small">
                <div class="slds-form-element">
                    <div class="slds-form-element__control">
                            <lightning-input type="text" 
                                                label="Enter Quote Name"
                                                onchange={handleChange} ></lightning-input>
                    </div>
                </div> 
        </lightning-layout-item>
        <!-- Search Button -->
        <lightning-layout-item size="12" small-device-size="2" medium-device-size="2" large-device-size="2" padding="around-small">
                <lightning-button label="Search" 
                                  variant="brand" 
                                  onclick={handleSearch}></lightning-button>
        </lightning-layout-item>
        <!-- Reset Button -->
        <lightning-layout-item size="12" small-device-size="2" medium-device-size="2" large-device-size="2" padding="around-small">
            <lightning-button label="Reset" 
                                variant="neutral" 
                                onclick={handleReset}></lightning-button>
        </lightning-layout-item>

        </lightning-layout><br/>
</template>