<template>
    <lightning-card title="Quote Search">

        <c-quote-search-bar onsubmitsearch={handleSubmitSearch} onresetform={handleReset}></c-quote-search-bar>

        <template if:true={showModal}>
            <c-child-select-modal onmodalcancel={handleCancelModal} onmodalsubmit={handleSubmitModal}
            child-data={passedData}></c-child-select-modal>
        </template>

        <template if:true={showQuotes}>
            <c-quote-display quote-data={finalData} visible-children={visibleChildren} visible-nested-children={visibleNestedChildren}></c-quote-display>
        </template>

    </lightning-card>
    
</template>