<template>
    <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_medium" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
        <div class="slds-modal__container">
            <!-- Header -->
          <header class="slds-modal__header">
            <!-- <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close">
              <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
              </svg>
              <span class="slds-assistive-text">Close</span>
            </button> -->
            <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Select Child Records</h2>
          </header>
          <!-- Body -->
          <div class="slds-modal__content slds-var-p-around_medium" id="modal-content-id-1">

            <template if:true={childData}>

              <div class="slds-text-heading_small slds-text-align_center">
                Parent records with children: {parentRecordNames}
              </div>

                <lightning-layout>
                    <lightning-layout-item size="12" flexibility="auto" padding="around-small" class="slds-text-body_small">
                      <!-- <div class="slds-align_absolute-center"> -->
                        <lightning-dual-listbox
                            name="children"
                            source-label="Available"
                            selected-label="Selected"
                            class="slds-text-body_small"
                            options={options}
                            onchange={handleChange}></lightning-dual-listbox>
                      <!-- </div> -->

                    </lightning-layout-item>
                </lightning-layout>

            </template>
          </div>
          <!-- Footer -->
          <footer class="slds-modal__footer">
            <button class="slds-button slds-button_neutral" onclick={handleModalCancel}>Cancel</button>
            <button class="slds-button slds-button_brand" onclick={handleModalSubmit}>Submit</button>
          </footer>
        </div>
      </section>
      <div class="slds-backdrop slds-backdrop_open"></div>
</template>