<template>
    <!-- <p class="slds-text-heading_small">Hello.</p> -->
    <template if:true={quoteData}>
        <lightning-accordion class="quote-accordion" active-section-name={activeSections} allow-multiple-sections-open="true"
        onsectiontoggle={handleToggleSection}>

        <template for:each={accordianData} for:item="quote">
            <lightning-accordion-section key={quote.Id} name={quote.Id} label={quote.displayName}>
                <lightning-record-form
                    record-id={quote.Id}
                    object-api-name="Quote"
                    layout-type="Compact"
                    columns="2"
                    mode="view">
                </lightning-record-form>

                <template if:true={quote.children}>

                    <lightning-accordion class="child-accordion" active-section-name={activeChildSections} allow-multiple-sections-open="true"
                    onsectiontoggle={handleChildToggleSelection}>

                        <template for:each={quote.children} for:item="quoteChild">
                            <lightning-accordion-section key={quoteChild.Id} name={quoteChild.Id} label={quoteChild.displayName}>
                                <lightning-record-form
                                    record-id={quoteChild.Id}
                                    object-api-name={quoteChild.objectDisplayName}
                                    layout-type="Compact"
                                    columns="2"
                                    mode="view">
                                </lightning-record-form>


                                <template if:true={quoteChild.children}>

                                    <lightning-accordion class="nested-child-accordion" onsectiontoggle={handleNestedChildToggleSelection}
                                    active-section-name={activeNestedChildSections} allow-multiple-sections-open="true">
                                        <template for:each={quoteChild.children} for:item="nestedChild">
                                            <lightning-accordion-section key={nestedChild.Id} name={nestedChild.Id} label={nestedChild.displayName}>
                                                <lightning-record-form
                                                    record-id={nestedChild.Id}
                                                    object-api-name={nestedChild.objectDisplayName}
                                                    layout-type="Compact"
                                                    columns="2"
                                                    mode="view">
                                                </lightning-record-form>
                                            </lightning-accordion-section>
                                        </template>
                                    </lightning-accordion>

                                </template>

                            </lightning-accordion-section>
                        </template>

                    </lightning-accordion>
                </template>

            </lightning-accordion-section>
        </template>

    </lightning-accordion>
    </template>    
</template>